<div class="jumbotron">
	<h1 class="text-center">New Book</h1>
	<ol class="idea-list">
		<div>Book Name</div>
		<textarea rows="1" cols="70" name="message" ng-model="BookName"></textarea>
		<div>Book Number</div>
		<textarea rows="1" cols="5" name="message" ng-model="BookNumber"></textarea>
		<div>Mid Start Page</div>
		<textarea rows="1" cols="5" name="message" ng-model="MidStartPage"></textarea>
		<div>End Start Page</div>
		<textarea rows="1" cols="5" name="message" ng-model="EndStartPage"></textarea>
		<div>Stretch Words</div>
		<textarea rows="1" cols="5" name="message" ng-model="StretchWords"></textarea>
		<div>Sight Words</div>                               
		<textarea rows="1" cols="5" name="message" ng-model="SightWords"></textarea>
		<div>Has Illustrator</div>
		<input type="checkbox" ng-model="HasIllustrator"></input>
		<div>Lesson Number</div>                             
		<textarea rows="1" cols="5" name="message" ng-model="LessonNumber"></textarea>
		<div>Has Country Of Origin</div>                     
		<input type="checkbox" ng-model="HasCountryOfOrigin"></input>
		<div>Author Location</div>                           
		<textarea rows="1" cols="5" name="message" ng-model="AuthorLoc"></textarea>
		<div>Illustrator Location</div>                      
		<textarea rows="1" cols="5" name="message" ng-model="IllustratorLoc"></textarea>
		<div>Title Location</div>                            
		<textarea rows="1" cols="5" name="message" ng-model="TitleLoc"></textarea>
		<div>Pages</div>                                     
		<textarea rows="1" cols="5" name="message" ng-model="Pages"></textarea>
		<div>Glossary</div>                                  
		<textarea rows="1" cols="5" name="message" ng-model="Glossary"></textarea>
		<div>Is Readable</div>                               
		<input type="checkbox" ng-model="IsReadable"></input>
		<br>
		<br>
		<button ng-click="submit()">Submit</button>
	</ol>
</div>
